.container{
    width: 58.6rem;
    // height: 17.125rem;
    border-radius: 0.25rem;
    background: var(--Gray-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding: 2rem;
}

@media(max-width:1024px){
    .container{
        width: 51.25rem;
        gap: 1rem;
        padding: 1rem 2rem;
    }
}

@media(max-width:600px){
    .container{
        width: 21.125rem;
        gap: 0.5rem;
        padding: 0.5rem 2rem;
    }
}

@media(max-width: 425px){
    .container{
        width: 233px;
        gap: 0.5rem;
        padding: 0.5rem 2rem;
    }
}
@media(max-width: 320px){
    .container{
        width: 226px;
        gap: 0.5rem;
        padding: 0.5rem 2rem;
    }
}