.sectionOne{
    border-top: 0.0625rem solid var(--Gray-3);
    border-bottom: 0.0625rem solid var(--Gray-3);

    height: 118px;
    width: 100%;

    display: flex;
    gap: 2rem;

}


.container1, .container2, .div1{
    margin: 0 auto;
    width: 62.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container2{
    padding-top: 2rem;
    flex-direction: column;
    align-items: flex-start;
}

.div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icone{
    color: var( --Gray-0);
    background-color: var(--Gray-3);
    border-radius: 0.2rem;
    font-weight: 900;
    width: 2.03031rem;
    height: 2rem;
    padding: 0.3rem;
    cursor: pointer;
}

@media(max-width:1024px){
    .container1, .container2{
            width: 55rem;
            flex-direction: column;
            align-items: flex-start;
            padding-inline: 0.5rem;
            justify-content:center;
    }

    .div1{
        width: 55.25rem;
    }
}

@media(max-width:600px){
    .container1, .container2{
        width: 25rem;
        flex-direction: column;
        align-items: flex-start;
        padding-inline: 0.5rem;
        justify-content:center;
    }
    .div1{
        width: 25rem;
    }
}

@media(max-width: 425px){
    .container1, .container2{
         width: 18.25rem;
         justify-content:center;
    }
    .div1{
        width: 18.25rem;
    }
}


@media(max-width: 20rem){
    .container1, .container2{
        width: 17.8125rem;
        flex-direction: column;
        align-items: flex-start;
        padding-inline: 0.5rem;
        justify-content:center;
    }
    .div1{
        width: 18rem;
    }
}