.container{
    display: flex;
    padding: 0.50756rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


input{
    width: 19.25rem;
    height: 3rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    gap: 0.6345rem;

    border-radius: 0.25rem;
    border: 0.0761rem solid var(--Gray-2);
    background: var(--Gray-2);
    color: var(--Gray-1);

    &:focus{
        border: 1.218px solid var(--Gray-0);
        color: var(--Gray-0);
    }
}

.message{
    color: var(--Color-Neative);
    font-size: 12px;
    text-align: center;
    padding-top: 0.3rem;
}

input::placeholder{
    color: var(--Gray-0);
    font-size: 1rem;
    font-weight: 400;
}

